<footer class="footer">
    <div class="footer-item">
        <span class="badge latest">v1.0.0 <span>Latest Release</span></span>
    </div>

    <div class="footer-icons">
        <div class="social-icons">
            <a href="https://tomaspino.dev/" target="_blank"><i class="fa-solid fa-user"></i></a>
            <a href="https://github.com/TomasPino5" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://ar.linkedin.com/in/tomas-pino-001161285" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>

    <div class="footer-item">
        <span>© AuthFlow API - Todos los derechos reservados</span>
    </div>
</footer>