<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & registration Forms</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <script type="module" src="./index.js"></script>
</head>

<body>
    <div class="container">
        <% if (typeof username !=='undefined' ) { %>
            <div class="form-container">
                <h2>Hola <%= username %>!</h2>
                <p>Estas en el panel de administracion</p>
                <button id="close-session">Cerrar sesion</button>
            </div>
            <% } %>

                <% if (typeof username==='undefined') { %>
                    <div class="form-container">
                        <form id="login-form">
                            <h2>Login</h2>
                            <label for="login-username">Username</label>
                            <input type="text" id="login-username" name="username" required>
                            <label for="login-password">Password</label>
                            <input type="password" id="login-password" name="password" required>
                            <span>&nbsp;</span>
                            <button type="submit">Login</button>
                            <p>New user? <a href="/register">register</a></p>
                        </form>
                    </div>
                    <% } %>
    </div>
</body>

</html>