<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">Node.js</a>
    <ul class="nav-links">
      <li><a href="#">Aprender</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Descargar</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Documentación</a></li>
      <li><a href="#">Contribuir</a></li>
      <li><a href="#">Certificación</a></li>
    </ul>
  </div>

  <div class="navbar-right">
    <input type="text" placeholder="Buscar..." class="search-bar">
    <button class="theme-toggle">☀️</button>
  </div>
</nav>
