<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">AuthFlow API</a>
    <ul class="nav-links">
      <li><a href="#">Documentación</a></li>
      <li><a href="#">Acerca de</a></li>
    </ul>
  </div>

  <div class="navbar-right">
    <input type="text" placeholder="Buscar..." class="search-bar">
  </div>
</nav>